registry=https://registry.npmjs.org/

//npm.greensock.com/:_authToken=2d48913b-c05d-4add-a57a-dbbbb2457fb1
@gsap:registry=https://npm.greensock.com

shamefully-hoist=true
strict-peer-dependencies=false
